---
import HomeLayout from '~/layouts/HomeLayout.astro'
import { findAssetById, getAssetCategories } from '~/utils/data/assets'
import { dtf, nf } from '~/utils/format'

if (!Astro.locals.user) {
  return new Response(null, {
    status: 404,
  })
}

const { id } = Astro.params
if (!id) {
  return new Response(null, {
    status: 404,
  })
}

const result = await findAssetById(id)
if (!result) {
  return new Response(null, {
    status: 404,
  })
}

const {
  asset,
  status,
  condition,
  ownership,
  createdBy,
  updatedBy,
} = result

const categories = await getAssetCategories(asset.id)
const isAssetDeleted = asset.deleted_at && asset.deleted_by_id
---

<HomeLayout title="Asset details">
  {isAssetDeleted && (
    <div class="sticky top-4 inset-x-0 rounded-md bg-amber-200 border border-amber-700/40 shadow p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-amber-700">
            <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-amber-900">You're viewing archived asset! It's only visible to users with admin access.</p>
        </div>
      </div>
    </div>
  )}

  <div class="overflow-hidden bg-white shadow sm:rounded-lg mt-10 max-sm:-mx-4">
    <div class="px-4 py-6 sm:px-6">
      <h3 class="text-base font-semibold leading-7 text-gray-900">{ asset.name }</h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Asset details and categories</p>
    </div>
    <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Name</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ asset.name }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Description</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ asset.description ?? '<empty>' }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Status</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ status }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Acquired at</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ dtf.format(asset.acquired_at) }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Acquisition price</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ nf.format(asset.acquisition_price) }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Expected lifespan</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ asset.expected_lifespan } months</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Condition</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ condition }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Ownership</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{ ownership }</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Added by</dt>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <dd class="text-sm leading-6 text-gray-700">
              { `${createdBy.firstname} ${createdBy.lastname}` }
              <span class="text-fuchsia-700">({ createdBy.email })</span>
            </dd>
            <dd class="text-sm leading-6 text-gray-500">
              { dtf.format(asset.created_at) }
            </dd>
          </div>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Updated by</dt>
          <div class="mt-1 sm:col-span-2 sm:mt-0">
            <dd class="text-sm leading-6 text-gray-700">
              { `${updatedBy.firstname} ${updatedBy.lastname}` }
              <span class="text-fuchsia-700">({ updatedBy.email })</span>
            </dd>
            <dd class="text-sm leading-6 text-gray-500">
              { dtf.format(asset.updated_at) }
            </dd>
          </div>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium leading-6 text-gray-900">Categories</dt>
          <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
              {categories.map(category => (
                <li class="py-4 px-4 text-sm leading-6">
                  <div class="flex items-center gap-2">
                    <span class="truncate font-medium">{ category.name }</span>
                    <span class="flex-shrink-0 text-gray-400">#{ category.code }</span>
                  </div>
                </li>
              ))}
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</HomeLayout>
